    $black-bkg: #222224;
    $pink-bkg: #F1E4E6;
    $pink-color: #F16D7F;
    $sales-bkg: #4E4544;
    $product-bkg: #F8F8F8;
    $white-color: #FFF;
    $sub-title: #9F9F9F;
    $product-title: #222222;
    $color-descript: #5D5D5D;
    $card-color: #000000;
    $link-color: #F26376;
    $gray-bkg: #E1E1E1;
    $icon-color: #E8E8E8;

    $desktop-width: 1600px;
    $desktop-mid-width: 1160px;
    $desktop-1080: 1080px;
    $desktop-912: 912px;
    $tablet-width: 768px;
    $mobile-550: 550px;
    $mobile-mid-width: 425px;
    $mobile-width: 375px;